@import './utilities/mixin.scss';
@import './utilities/vars.scss';

main{
  background-color: $secondary-color;
  color: $color-white;
  padding: 70px 0 40px 0;
  text-align: center;
   .k_container{
    min-height: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    a{
      background-color: azure;
    }

    .k_card{
      width: 14%;
      height: 200px;
      margin-left: 20px;
      opacity: 0.7;
      overflow: hidden;
      margin-bottom: 30px;
       &:hover{
           opacity: 1;
           cursor: pointer;
         }
     
      .image{
        height: 150px;
        overflow: hidden;
        margin-bottom: 10px;
        img{
          width:100%;        
        }
        .title{
         font-size: 10px;
         color:white;     
        
        }
      }
    }
  } 
  .k_btn2{
    padding: .25rem 3rem;
    border-radius: 0;
    margin: 20px 0;
  }
}