@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

body{
  font-family: 'Roboto Flex', sans-serif;
  line-height: 1.2;
}

k_container{
  width: 68%;
  height:100%;
  margin: 0 auto;
}

li {
  list-style: none;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}